body{
  margin: 0;
  text-align: center;
  color: #40514E;
}

h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 0 auto;
  padding-top: 100px;
  font-family: 'Sacramento', cursive;

}
h2
{
  color: #66BFBF;
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    font-weight: normal;
}
h3{
  color: #11999E;
}
.footer-link{
  color: #11999E;
}
.profilepic{
  height: 150px;
  width: 150px;
}
.skillsimage{
  height: 200px;
  width: 200px;
  border-radius: 100%
}
.chilliesimage{
  margin:100px auto 0 auto;
  width: 200px;
  height: 200px;
}
p{
  font-family: 'Merriweather', serif;
}
.bottom-cloud
{
  position: absolute;
  left:30%;
}
.top-cloud{
  position: absolute;
  right: 30%;
  padding-top: 20px;
}
.top-container
{
    margin:0;
    position: relative;
    background-color: #E4F9F5;

}
.middle-container{
  padding-top: 20px;
}
hr{
  border-style: dotted;
  border-bottom: none;
  width: 4%;
  border-color: #EAF6F6;
  border-width: 5px;
  margin: 100px auto 50px auto;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px 0;

}
a{
  color: #11999E;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.copyright{
  color: #EAF6F6;
  padding: 20px 0;
}
.btn {
  margin: auto;
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #1199E);
  background-image: -moz-linear-gradient(top, #11CDD4, #1199E);
  background-image: -ms-linear-gradient(top, #11CDD4, #1199E);
  background-image: -o-linear-gradient(top, #11CDD4, #1199E);
  background-image: linear-gradient(to bottom, #11CDD4, #1199E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
